@import "tailwindcss";

.navLink li{
    padding: 8px 20px;
    font-size: large;
}
.navLink li:hover{
    background-color: gray;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
.navLink li>button{
    width: 100%;
    text-align: left;
    cursor: pointer;
}


.button-border{
  position: relative;
  z-index: 0;
  
}

.button-border::before{
    content: ' ';
    width: 105%;
    height: 105%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: -2;
    border-radius: 50%;
    background-image:
    conic-gradient(
      from 0deg,
      rgba(250,0,183,0.9) 0deg,
      rgba(81,180,253,0.9)180deg,
      rgba(255,0,183,0.9) 360deg
    );
    animation: rotateBorder 3s linear infinite;
}


@keyframes rotateBorder {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}



