/* lato google font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui";

.roboto-font {
  font-family: "Roboto", sans-serif;
}

body{
    font-family: roboto-font;
}



@keyframes spin-border {
  100% { transform: rotate(360deg); }
}


:root {
  --dashboard-padding: 10px;
}

@media (min-width: 768px) {
  :root {
    --dashboard-padding: 20px;
  }
}

@media (min-width: 1024px) {
  :root {
    --dashboard-padding: 40px;
  }
}